<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.VideoRecordsMapper">
    
    <resultMap type="com.ruoyi.system.domain.VideoRecords" id="VideoRecordsResult">
        <id     property="id"           column="id"            />
        <result property="username"     column="username"      />
        <result property="filename"     column="filename"      />
        <result property="aiAdv"        column="ai_adv"        />
        <result property="aiModel"      column="ai_model"      />
        <result property="time"         column="time"          />
    </resultMap>

</mapper>

